.Panel {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-s);
    padding: var(--space-xs);
    border-radius: var(--radius-m);
    background-color: var(--color-surface-1);
}

.Panel.horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.Panel .PanelLabel {
    font-size: var(--font-size-s);
    margin-right: var(--space-s);
}

.Panel .actions {
    display: flex;
    gap: var(--space-s);
    justify-content: center;
    align-items: start;
}
