.Input {
    margin: 0;
    border-radius: 3px;
    padding: 0 var(--space-xs);
    height: var(--size-m);
    color: var(--color-fg-secondary);
    font-weight: var(--font-weight-normal);
    line-height: 1;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.1);
    border-width: 0px;
    border-style: dotted;
    border-color: var(--color-border);
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.Input-size-s {
    height: var(--size-s);
    font-size: var(--font-size-m);
}

.Input-size-m {
    height: var(--size-m);
    font-size: var(--font-size-l);
}

.Input-size-l {
    height: var(--size-l);
    font-size: var(--font-size-xl);
}

.Input:hover {
    border-bottom-color: var(--color-border-active);
    border-bottom-style: solid;
}

.Input:focus {
    color: var(--color-interactive-on);
    border-bottom-style: solid;
}

.Input:focus,
.Input:focus-visible {
    outline: none;
    border-color: var(--color-interactive);
}
